body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.name-color{
    color: orangered;
}

section{
    display: flex;
    margin-bottom: 10px;
   
}
.half-width{
    width: 100%;
    padding: 10%;
    text-align:justify;

}
.half-width img{
   max-width: 80%;
   padding: 0%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 80px;
    font-weight: 700;

}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    width:  100%;

}
.my-career{
    text-align: center;
    margin: auto;  
}
#recipie-title{
    display: flex; 
    margin-left: 5%;
    margin-right: 5%;
}
#recipie-title img{
    height: 50%;
    width: 30%;
    margin-left:5% ;
    margin-right: 5%;
}
.border-shadow{
    border: gray;
border-radius:10px;
margin: 5%;
box-shadow: 10px 10px 10px rgb(54, 54, 54);
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 0px;
}
